/* ===========================
    Endereço - address.html
=========================== */
.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
}

.address iframe {
    width: 100%;
    max-width: 600px;
    height: 400px;
    border-radius: 10px;
    border: 0;
}

.address p {
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
}
