{% extends "base.html" %}

{% block title %}Endereço - Cafeteria{% endblock %}

{% block content %}
<section class="address">
    <h1 class="title"><span>Nosso</span> Endereço</h1>
    <p>Rua Alcides Ribeiro da Silva, 85 - Gramame, João Pessoa</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.2318460459974!2d-34.847767300000015!3d-7.21437279999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acc1e9b9823ef1%3A0x562266e3806bafbe!2sR.%20Alcides%20Ribeiro%20da%20Silva%2C%2085%20-%20Gramame%2C%20Jo%C3%A3o%20Pessoa%20-%20PB%2C%2058067-073!5e0!3m2!1spt-BR!2sbr!4v1756081601968!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></section>
{% endblock %}